*{
    margin: 0;
    padding: 0;
}
.conatiner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 195, 255);
}
.score_board{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    color: white;
}
.game_board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* display: flex;
    flex-wrap: wrap;
    padding: 20px; */
}
.item{
    background-image: url("../image/texture.jpg");
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    background-color: transparent;
    perspective: 1000px;
}
.front, .back{
    position: absolute;
    backface-visibility: hidden;
}
.item img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.inner{
    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s ease-in-out;
}
.back{
    transform: rotateY(180deg);
}
/* .item:hover .inner{
    transform: rotateY(180deg);
} */
.item:hover {
    border: 1px solid;
}

.show{
    transform: rotateY(180deg);
}